.bg-custom{
    background-color:#fff !important;
    transition: 0.3s;
    border: 1px solid salmon;
    color:salmon !important;
}
.bg-custom:hover{
    background-color:salmon !important;
    border: 1px solid rgba(0, 0, 0, 0);
    color:#fff !important;
}
.bg-active{
    background-color:#fff !important;
    transition: 0.3s;
    border: 0px;
    color: salmon !important;
}
.navbar{
    width: 100%;
}